
<div id="planrepas">
  <h1>Plan de Repas</h1>

  <div class="divider"></div>

  <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
    <thead class="header">
      <th class="contentCell">NUMÉRO PLAN</th>
      <th class="contentCell">CATÉGORIE</th>
      <th class="contentCell">FRÉQUENCE</th>
      <th class="contentCell">NUMERO PERSONNES</th>
      <th class="contentCell">CALORIES</th>
      <th class="contentCell">PRIX</th>
      <th class="contentCell">NUMERO FOURNISSEUR</th>

      <th class="actionCell">ACTION</th>
    </thead>
  
    <tbody>
 
      <tr *ngFor="let planrepas of planrepass; let i = index">
        <td class="contentCell">{{ planrepas.numeroplan }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeCategorie($event, i)">{{ planrepas.categorie}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeFrequence($event, i)">{{ planrepas.frequence }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeNbpersonnes($event, i)">{{ planrepas.nbpersonnes}}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeNbcalories($event, i)">{{ planrepas.nbcalories }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changePrix($event, i)">{{ planrepas.prix }}</td>
        <td class="contentCell" contenteditable="true" (blur)="changeNumerofournisseur($event, i)">{{ planrepas.numerofournisseur }}</td>
        <td class="actionCell">
          <button type="button" class="submitbtn" (click)="updatePlanrepas(i)"><i class="fa fa-edit"></i></button>
          <button type="button" class="deletebtn" (click)="deletePlanrepas(planrepas.numeroplan)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>

      <tr class="blank_row">
        <td class="contentCell" contenteditable="true" placeholder="New numeroplan" #newNumeroplan></td>
        <td class="contentCell" contenteditable="true" placeholder="New categorie" #newCategorie></td>
        <td class="contentCell" contenteditable="true" placeholder="New frequence" #newFrequence></td>
        <td class="contentCell" contenteditable="true" placeholder="New nbpersonnes" #newNbpersonnes></td>
        <td class="contentCell" contenteditable="true" placeholder="New nbcalories" #newNbcalories></td>
        <td class="contentCell" contenteditable="true" placeholder="New prix" #newPrix></td>
        <td class="contentCell" contenteditable="true" placeholder="New Fournisseur" #newNumerofournisseur></td>
        <td class="contentCell"></td>
    </tr>

    </tbody>
  </table>   




  <button id= myButton type="button" routerLink="/planrepas" class="btn" (click)="insertPlanrepas()" >+ Add Plan </button>
  
  <button id= myButton2 type="button" routerLink="/planrepasForm" class="btn" > See the page with the form </button>

<!-- (click)="insertPlanrepas()" -->


